--allman false
--binarygrouping none
--closingparen same-line
--commas inline
--conflictmarkers reject
--decimalgrouping none
--elseposition same-line
--exponentcase lowercase
--exponentgrouping disabled
--fractiongrouping disabled
--fragment false
--funcattributes preserve
--guardelse auto
--header ignore
--hexgrouping none
--hexliteralcase uppercase
--ifdef no-indent
--importgrouping alphabetized
--indent 4
--indentcase false
--linebreaks lf
--maxwidth none
--modifierorder 
--nospaceoperators 
--nowrapoperators 
--octalgrouping none
--operatorfunc spaced
--patternlet hoist
--self remove
--selfrequired 
--semicolons never
--shortoptionals always
--smarttabs enabled
--stripunusedargs closure-only
--tabwidth unspecified
--trailingclosures 
--trimwhitespace always
--typeattributes preserve
--voidtype void
--wraparguments preserve
--wrapcollections preserve
--wrapparameters preserve
--xcodeindentation disabled
